.single-product {

	.prod-figure {
		position:relative;
		overflow: hidden;
		//min-height:240px;
		height:0;
		//min-height: 240px;
		padding-bottom: 50%;
		max-width: $giantBreak;
		margin:0;
		background-color: $grayDark;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		



		// @media screen and (min-width:$largeBreak) {
		// 	min-height: 520px;
		// }
		// @media screen and (min-width:$largeBreak+200) {
		// 	min-height: 600px;
		// }
		@media screen and (min-width:$giantBreak+320) {
			padding-bottom: $giantBreak/2;
		}
		

		@media screen and (max-width:600px) {
			min-height: 280px;
			padding-bottom: 0;
		}
		@media screen and (max-width:$mobileBreak) {
			min-height: 240px;
			padding-bottom: 0;
		}

		img{
			//border-bottom:10px solid $grayDark;
		}
	}

	.prod-header{



	}
	.prod-bread {
		margin:0em 0em;
		padding:0;
		background: $grayBtn;
		border-top:2px solid $whitePanel;
		font-size: 0.875em;
		
		@media screen and (max-width:$tabletBreak) {
			margin:0 0;
				
		}

	}
	.prod-nav {
		position: absolute;
		//overflow:hidden;
		bottom:0; left:0; right:40px;top:33%;

		a {
			//border:1px solid white;
			position:absolute;
			

			padding:1.25em 1em 0.75em 40px;
			display: inline-block;
			font-family: $sansFontFamily;
			font-weight: bold;
			font-size: 0.875em;
			line-height: 1.125em;
			height:72px;
			width:200px;
			box-sizing:border-box;
			background: rgba($grayDark,0.75);
			color:$whitePanel;
			margin-top: 0.5em;
			&:hover {
				background: $orange;
				text-decoration: none;
			}
		}
		.previous a {
			text-align: right;
			top:0;
			right:-200px;

			&:hover {
				right:-40px;

			}
			&:after {
						position:absolute;
						right:100%;
						top:0;
						content:'';
						height:0;
						width:0;
						border-top: 36px solid transparent;
						border-bottom:36px solid transparent;
						border-right: 16px solid rgba($grayDark,0.75);
						z-index:1;
					}

			&:hover:after {
							border-right: 16px solid $orange;
							//border-bottom: 36px solid $orange;
			}	

	}
	.next a {
		text-align: right;
		right:-220px;
		top:80px;
		&:hover {
			right:-40px;			
		
		}
		&:after {
					position:absolute;
					right:100%;
					top:0;
					content:'';
					height:0;
					width:0;
					border-top: 36px solid rgba($grayDark,0.75);
					border-bottom: 36px solid rgba($grayDark,0.75);
					border-left: 16px solid transparent;
					z-index:1;
				}

		&:hover:after {
						border-top: 36px solid $orange;
						border-bottom: 36px solid $orange;
		}	

	}




	}
	.prod-date {
		float:left;
		font-family: $serifFontFamily;
		font-size:8em;
		line-height:1em;
		padding:0 0.25em 0 0;
		text-align:center;
		letter-spacing:-0.05em;
		color:$grayLight;
		margin-top:-0.05em;

		box-sizing:border-box;
		// width:3em;
		// height:3em;

		@media screen and (max-width:$tabletBreak) {
			font-size:7em;
			
				
		}
	}

	.prod-title{
		box-sizing:border-box;
		max-width: 980px;
		text-transform: uppercase;
		margin:1em 1em 0em 0.666em;
		padding: 0;
		line-height:1.25em;
		//background: $grayDark;
		//color:$whitePanel;
		@media screen and (max-width:$tabletBreak) {
			margin:1em 0.5em 0em 0.25em;
				
		}
	}

	.prod-content {
		max-width: 980px;
		box-sizing:border-box;

		margin:1em 2em 1em;
		//padding-bottom:10em;
		//background:url(images/beep_pikt.png) no-repeat center bottom transparent;
		@media screen and (max-width:$tabletBreak) {
			margin:1em 1em 0em;
				
		}

		.quote {
			float:right;
			box-sizing:border-box;
			width:40%;
			
			padding: 0 0 0 1em;
  			margin: 0 0 2em 1em;
 			border-left: 5px solid $orange;

			




			@media screen and (max-width:$tabletBreak) {
				float:none;
				margin-left:0;
				width:auto;
				
			}
			p {
				font-size:1em;
				font-size:1em;
				//font-family: $sansFontFamily;
				font-style:italic;
				font-weight: 700;
				color:$brownBorderLight;
			}
			
			footer{
				margin-top:1em;
				padding-top:0.5em;
				border-top:1px solid $grayLight;
				font-style: normal;
				font-weight:400;
				font-family: $sansFontFamily;
				font-size:0.875em;
			}


		}
		.data {	
			width:70%;
			border-bottom:1px solid $grayLight;
			padding-bottom: 1em;

			box-sizing:border-box;
			@media screen and (max-width:$tabletBreak) {
				float:none;
				width:auto;
			}
		}	


	}

	.prod-lenyeg {
		font-size: 0.875em;
		line-height: 1.4;

		padding-top:0;
		padding-bottom:1em;
		//background: $whitePanel;
		margin-top:2em;
		margin-bottom:0;
		position:relative;
	}
	.prod-params{
		p {
			//margin:0;
			//padding:0;
			margin-bottom: 0.5em;
		}
		.name {
			text-transform: uppercase;
			width:160px;
			display: inline-block;

		}
		.value{
			display: inline-block;

		}
	}
	
	.prod-priceblock {
		margin:2em 0 1em;
		text-align: center;


	}
	.ar{
		font-weight:bold;
	}
	.prod-price {
		font-size:1.75em;
		font-weight:bold;
	}
	.penz {
		font-size:1.5em;
		font-weight:bold;
	}
	.ib {

		&:hover{
			text-decoration: none;
		}
	}

	.prod-actionblock {
		text-align: center;
		.telcsi {
			display:block;
			font-size: 0.875em;
		}
	}

	.prod-gallery {
		max-width: 980px;
		box-sizing:border-box;
		margin:1em 2em 1em;
		padding:0.5em 0 2em;
		//background:url(images/butorgya_pikt.png) no-repeat center bottom transparent;

		//border-top:10px solid $gray;
		@media screen and (max-width:$tabletBreak) {
			margin:1em 1em 0;
				
		}
	
		
		
		h3 {
			display:none;
			text-transform:uppercase;
			margin:0 0;
			line-height:1.25em;	
		}



		.gallery {
			list-style-type: none;
			padding:0;
			margin:0 -0.5em;

			

			li{
				width:33.333333333%;
				box-sizing:border-box;

		
				margin:0;
				float:left;

				@media screen and (min-width: $desktopBreak) and (max-width: $largeBreak) {
					width:50%;

		 
				}


				@media screen and (max-width: $desktopBreak) {
					width:50%;
				}

				@media screen and (max-width: $mobileBreak) {
					width:auto;
					float:none;

				}
				.prod-thumb {
					padding:0.5em;
					margin:0;
				}

				a {
					display:block;
					img {
						

					}
				}




			}
		}


	}




	.prod-related {
		max-width: 980px;
		box-sizing:border-box;
		margin:1em 2em 2em;
		padding:2em 0;
		border-top:1px solid $gray;
		font-size: 0.875em;
		line-height: 1.4;

		@media screen and (max-width:$tabletBreak) {
			margin:1em 1em 0;
				
		}

		h3 {
			//text-transform:uppercase;
			margin:0 0 0.25em;
			line-height:1.25em;	
			font-weight: normal;
			font-size: 1em;
		}
	}
	
}



.product-filter {

	background: $whitePanel;
	box-sizing:border-box;	
	
	box-shadow: inset 0 0 6px 0px $grayLight;

}

.toggle-filter{
//	display:none;
	display: inline-block;
	position: absolute;
	box-sizing:border-box;
	//left:42%;
	z-index:3;
	
	margin:0;
	padding:0;
	margin-left:-80px;


	

	a{
		display:block;
		font-family: $serifFontFamily;
		font-size:0.5em;
		line-height:3em;
		text-transform: uppercase;
		text-align:center;
		padding:0 0.75em;
		background: $whitePanel;
		color:$grayDark;
		position: relative;
		width:160px;
		box-sizing:border-box;

		


	}

}



.productlista {
	//margin:0;
	text-align: center;


	@media screen and (min-width: $desktopBreak) and (max-width: $largeBreak) {
	}
	
	@media screen and (max-width: $desktopBreak) {
	}

	@media screen and (max-width: $tabletBreak) {
	}
	@media screen and (max-width: $mobileBreak) {
	}


	

}


	
	.obj {
		position:relative;
		width:33.333333333%;
		box-sizing:border-box;
		text-align: center;
		
		margin:0;
		float:left;

		@media screen and (min-width: $largeBreak+260) {
			width:25%;
		}
		
		@media screen and (min-width: 1800px) {
			width:20%;
		}


		@media screen and (min-width: $desktopBreak) and (max-width: $largeBreak) {
			width:50%;
		}


		@media screen and (max-width: $desktopBreak) {
			width:50%;
		}

		@media screen and (max-width: $mobileBreak) {
			width:auto;
			float:none;

		}

		display:none;
		&.mutat {
			display:block;
		}


		.prod-thumb {
			padding:1px;
			//background:$gray;
			margin:0;
			height:0;
			padding-bottom:75%;
			
			
			a{
				display:block;
				

				&:hover {
				
				}
			

			}

			img {
				display:block;
				//@include filter(grayscale(100%));

				//overflow:hidden;
				
				//height:0;
				//padding-bottom:19.5%;
				&:hover {
					//@include filter(grayscale(0));
				}

			}
		}



		.prod-title {
			margin:0;padding:0;
			font-size:1.25em;
			
			
			a{	


				display:block;
				position:absolute;
				top:0.875em;
				left:0.875em;
				right:0.875em;
				bottom:0.875em;

				padding:27% 0.5em;

				font-family:$sansFontFamily;
				text-align:center;
				text-transform: uppercase;
				font-size:0.875em;
				line-height:1.125em;
				color:transparent;
				//background: rgba($whitePanel,0.7);
				//@include text-shadow(rgba(white, 0.5) 1px 1px 0);

				transition: all .4s ease-in;


				&:hover {
					background: rgba($whitePanel,0.7);
					//color:$brownText;
					color:$grayDark;
					text-decoration: none;
				}

			}

			.prod-year{
				display:block;
				font-family:$serifFontFamily;
				font-weight:normal;
				text-transform:none;
				font-size:4em;
				letter-spacing:-0.05em;
				margin-top:0.33333em;
				//color:$grayDark;
				// -moz-font-feature-settings: "liga=1, dlig=1, onum=1";
				// -ms-font-feature-settings: "liga", "dlig", "onum";
				// -webkit-font-feature-settings: "liga", "dlig", "onum";
				// -o-font-feature-settings: "liga", "dlig", "onum";
				// font-feature-settings: "liga", "dlig", "onum";

					
				
			}
		
		}
	
	}